.typing {
  align-items: center;
  display: flex;
  height: 17px;
}
.typing .dot {
  animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
  background-color: #6cad96;
  border-radius: 50%;
  height: 5px;
  margin-right: 4px;
  vertical-align: middle;
  width: 5px;
  display: inline-block;
}
.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}
.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}
.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}
.typing .dot:last-child {
  margin-right: 0;
}

@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0px);
    background-color: #6cad96;
  }
  28% {
    transform: translateY(-7px);
    background-color: #9ecab9;
  }
  44% {
    transform: translateY(0px);
    background-color: #b5d9cb;
  }
}

.parentBubbleYou::after,
.parentBubbleOther::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  top: 0px; /* Position relative to the top of the bubble */
  border-style: solid;
}

.parentBubbleYou::after {
  right: -13px; /* Adjust based on positioning */
  border-width: 14px 14px 0 0; /* Adjust dimensions for the triangle */
  border-color: rgb(0, 93, 74) transparent transparent transparent;
}
.parentBubbleOther::after {
  left: -13px;
  border-width: 0 14px 14px 0;
  border-color: transparent rgb(32, 44, 51) transparent transparent;
}
